@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-width: 6px;

    --color-orange-default: #FFD6A5;
    --color-orange-accent: #FFE4C2;

    --color-pink-default: #FFADAD;
    --color-pink-accent: #FAC3C3;

    --color-green-default: #BBFFAD;
    --color-green-accent: #DDFFD6;

    --color-violet-default: #BDB2FF;
    --color-violet-accent: #d0c9f8;

    --color-blue-default: #A0C4FF;
    --color-blue-accent: #C2D9FF;

    --color-background-default: #FFFFFC;
    --color-background-accent: #eae9e9;

    --color-text-default: #001F52;
    --color-text-accent: #002F7A;
}
* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

*::-webkit-scrollbar-thumb {
    @apply bg-gray-200;
    border-radius: 9999px;
}

body {
    font-size: 16px;

    @apply text-text-default;
    @apply bg-background-default;
}

#root {
    width: 100vw;
    height: 100vh;
}

* {
    outline: none !important;
}

.content {
    grid-template-rows: auto 1fr auto;
}

.card > .card-remove > div {
    @apply opacity-0;
    transition: .15s;
}

.card:hover > .card-remove > div {
    @apply opacity-100;
}