@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-orange-default: #FFD6A5;
    --color-orange-accent: #FFE3C2;

    --color-pink-default: #FFADAD;
    --color-pink-accent: #FFC2C2;

    --color-green-default: #CAFFBF;
    --color-green-accent: #DDFFD6;

    --color-violet-default: #BDB2FF;
    --color-violet-accent: #DCD6FF;

    --color-blue-default: #A0C4FF;
    --color-blue-accent: #C2D9FF;

    --color-background-default: #FFFFFC;
    --color-background-accent: #eae9e9;

    --color-text-default: #001F52;
    --color-text-accent: #002766;
}

*::-webkit-scrollbar {
    width: 7.5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-text-default);
    border-radius: 9999px;
}

body {
    min-width: 450px;
    min-height: 600px;

    font-size: 16px;

    @apply text-text-default;
}

* {
    outline: none !important;
}

.card > .card-remove > div {
    opacity: 0;
    transition: .15s;
}

.card:hover > .card-remove > div {
    opacity: 1;
}