@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-orange-default: #FFD6A5;
    --color-pink-default: #FFADAD;
    --color-green-default: #CAFFBF;
    --color-violet-default: #BDB2FF;
    --color-blue-default: #A0C4FF;

    --color-background-default: #FFFFFC;
    --color-background-accent: #eae9e9;

    --color-text-default: #001F52;
    --color-text-accent: #002766;
}

body {
    min-width: 450px;
    min-height: 600px;

    @apply text-text-default;
}

.card > div > svg {
    opacity: 0;
    transition: .15s;
}

.card:hover > div > svg {
    opacity: 1;
}

* {
    outline: none !important;
}